<div [formGroup]="formGroup" class="input-multiselect">
  <p-floatlabel variant="on">
    <p-multiselect
      appendTo="body"
      [options]="options"
      [formControlName]="inputTextConfig.id"
      optionLabel="label"
      optionValue="value"
      display="chip"
      placeholder="{{ placeholder() }}"
      [maxSelectedLabels]="3"
    /><label for="over_label">{{
      inputTextConfig.labelKey
    }}</label></p-floatlabel
  >

  @if (formControl.touched && formControl.invalid) {
    <span class="input-multiselect__validation-label"> {{ errorMsg }}</span>
  }
</div>
