.input-multiselect {
  margin-bottom: 25px;
  position: relative;
  .p-multiselect {
    width: 100%;
  }
  
  ::ng-deep .p-multiselect-label {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    white-space: normal;
    overflow: visible;
    max-height: none;
  }
  
  ::ng-deep .p-multiselect-token {
    display: inline-flex;
    margin: 0;
  }
  .p-floatlabel-on:not(input.p-filled) label {
    font-weight: 300;
    font-size: var(--font-size-base);
  }
  .p-floatlabel-on:has(input.p-filled, input:focus) label {
    font-size: smaller;
  }
  &__validation-label {
    position: absolute;
    left: 0;
    font-size: var(--font-size-small);
    margin-top: 2px;
    color: var(--p-form-field-invalid-placeholder-color);
    padding: 0 var(--spacing-10);
  }
}