<div [formGroup]="formGroup" class="input-multiselect">
  <p-floatlabel variant="on">
    <p-multiselect
      appendTo="body"
      [options]="options"
      [formControlName]="inputTextConfig.id"
      optionLabel="label"
      optionValue="value"
      [display]="multiSelectDisplay"
      [maxSelectedLabels]="maxSelectedLabels"
      selectedItemsLabel="{0} items selected"
      [disabled]="disabled"
      (onChange)="onChange.emit($event)"
    /><label for="over_label">{{
      inputTextConfig.labelKey
    }}@if (isRequired) {<span style="color: var(--color-danger); margin-left: 2px;">*</span>}</label></p-floatlabel
  >

  @if (formControl.touched && formControl.invalid) {
    <span class="input-multiselect__validation-label"> {{ errorMsg }}</span>
  }
</div>
