:host {
  width: 100%;
  display: block;
}

.btn {
  display: block;
  &-large {
    width: 100%;
    height: 56px;
  }
  &-full {
    ::ng-deep {
      .p-button {
        width: 100%;
        height: 50px;
      }
    }
  }
}
