:host {
  display: block;
}

.btn {
  display: block;
  ::ng-deep {
    .p-button {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      .p-button {
        width: 100%;
      }
    }
  }

  &-large {
    width: 100%;
    // height: 56px;

    ::ng-deep {
      .p-button {
        width: 100%;
      }
    }
  }
  &-full {
    ::ng-deep {
      .p-button {
        width: 100%;
      }
    }
  }
}
.btn-rounded {
  ::ng-deep {
    .p-button-rounded {
      border-radius: 50%;
      width: 50px !important;
      height: 50px !important;
      min-width: unset;
    }
  }
}
