.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
  padding: var(--spacing-30) 0;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: var(--spacing-15);
  }
}
