<div class="card">
  @if (hasHeader) {
    <div class="card__header">
      <span class="card__tag">Aptitude test</span>
    </div>
  } @else {
    <div class="card__header">
      @if (hasLabel) {
        <span class="card__tag" [ngClass]="{ card__tag_assessment: true }">
          <p-menu #menu [model]="items" appendTo="body" [popup]="true" />
          <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
        </span>
      }
    </div>
  }
  <div class="card__content">
    <ng-content></ng-content>
  </div>
  <div class="card__footer">
    @if (hasHeader) {
      <app-button
        [buttonLabel]="'Start'"
        (btnClick)="startAssessment()"></app-button>
    }
  </div>
</div>
