:host {
  padding: var(--spacing-30);
}

.question-form {
  padding: var(--spacing-10) 0 0;
  &__field {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
  }
  &__label {
    margin-bottom: var(--spacing-25);
    display: flex;
    align-items: center;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }
  &__switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }
  &__options {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-flow: row wrap;
    &__item {
      display: flex;
      gap: 1rem;
      flex-basis: 53%;
    }
    &__btn {
      height: 43px;
      ::ng-deep {
        .p-button {
          height: 100%;
        }
      }
    }
  }
  &__mark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }
  &_field {
    &-col {
      &_one {
        flex-basis: 50%;
      }
      &_two {
        width: 80%;
        flex-basis: 50%;
      }
    }

    &-container {
      display: flex;
      gap: 1rem;
      flex-flow: column;
    }
    &_hidden {
      display: none;
    }
    &_show {
      display: block;
    }
  }
  .preview-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  @media screen and (max-width: 768px) {
    &_field {
      &-container {
        display: block;
      }
    }
  }
}
