:host {
  padding: var(--spacing-30);
}

.question-form {
  padding: var(--spacing-10) 0 0;
  &__field {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
  }
  &__label {
    margin-bottom: var(--spacing-25);
    display: flex;
    align-items: center;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }
  &__switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 25px;
  }
  &__options {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-flow: row wrap;
    &__item {
      display: flex;
      gap: 1rem;
      flex-basis: 53%;
    }
    &__btn {
      height: 43px;
      ::ng-deep {
        .p-button {
          height: 100%;
        }
      }
    }
  }
  &__mark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }
  &_field {
    &-col {
      &_one {
        flex-basis: 50%;
      }
      &_two {
        width: 80%;
        flex-basis: 50%;
      }
    }

    &-container {
      display: flex;
      gap: 1rem;
      flex-flow: column;
    }
    &_hidden {
      display: none;
    }
    &_show {
      display: block;
    }
  }
  .preview-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  @media screen and (max-width: 768px) {
    &_field {
      &-container {
        display: block;
      }
    }
  }
}
.dialog-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: var(--spacing-20);
  box-shadow: 0px -15px 20px -26px #000;
}
.dialog__header {
  box-shadow: 0px 15px 10px -20px #000;
  &__warning-indicator {
    position: relative;
    left: 0;
    font-size: var(--font-size-small);
    margin-top: 3px;
    color: #c01523;
  }
}
