<div class="question-form">
  <form [formGroup]="data.fGroup">
    <div class="question-form_field-container">
      <app-input-textarea
        class="question-form_field"
        [formGroup]="data.fGroup"
        type="text"
        [config]="data.configMap['questionText']"
      ></app-input-textarea>
      <div class="question-form__switch">
        <app-toggle-switch
          [formGroup]="data.fGroup"
          [config]="data.configMap['hasAttachments']"
        >
        </app-toggle-switch>
        <app-toggle-switch
          [ngClass]="
            isEdit ? 'question-form_field_show' : 'question-form_field_hidden'
          "
          [formGroup]="data.fGroup"
          [config]="data.configMap['active']"
        >
        </app-toggle-switch>
        @if (questionForm.get("hasAttachments")?.value) {
          <p-button
            icon="pi pi-paperclip"
            class="small-icon-mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="openAttachmentModal('question')"
          />

          @if (data.fGroup.get("fileDto")?.value) {
            <p-button
              icon="pi pi-eye"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
              (click)="previewAttachment(null)"
            />
          }
        }
      </div>
      <div class="question-form__mark">
        <app-input-text
          class="question-form_field-col_one"
          [formGroup]="data.fGroup"
          type="text"
          [config]="data.configMap['maxmark']"
        ></app-input-text>
        <app-input-select
          [formGroup]="data.fGroup"
          class="question-form_field-col_one"
          [config]="data.configMap['questionType']"
        >
        </app-input-select>
      </div>
      <div class="question-form__switch">
        <app-toggle-switch
          [formGroup]="data.fGroup"
          [config]="data.configMap['optionHasAttachments']"
        >
        </app-toggle-switch>
      </div>
      <div formArrayName="options" class="question-form__options">
        @for (
          optionCtrl of optionsArray.controls;
          let i = $index;
          track optionCtrl;
          let last = $last
        ) {
          <div class="question-form__options__item">
            <app-input-text
              placeholder="Enter Option"
              [formGroup]="optionCtrl"
              type="text"
              [config]="data.configMap['options']"
            ></app-input-text>
            <p-button
              class="question-form__options__btn"
              icon="pi pi-minus"
              (click)="removeOption(i)"
            />

            @if (data.fGroup.get("optionHasAttachments")?.value) {
              <p-button
                icon="pi pi-paperclip"
                class="mr-2"
                [rounded]="true"
                [outlined]="true"
                (click)="openAttachmentModal(i)"
              />
              @if (optionCtrl.get("fileDto")?.value?.length > 0) {
                <p-button
                  icon="pi pi-eye"
                  class="mr-2"
                  [rounded]="true"
                  [outlined]="true"
                  (click)="previewAttachment(optionCtrl)"
                />
              }
            }
          </div>
        }
      </div>
      <div class="question-form__switch">
        <app-button
          buttonLabel="Add New Option"
          [buttonVariant]="'outlined'"
          (btnClick)="addOption()"
        ></app-button>
      </div>

      <div class="question-form__switch">
        <app-toggle-switch
          [formGroup]="data.fGroup"
          [config]="data.configMap['isMultipleChoice']"
        >
        </app-toggle-switch>
      </div>
      @if (data.fGroup.get("isMultipleChoice")?.value) {
        <app-input-multiselect
          class="interviewer_field"
          k
          [formGroup]="data.fGroup"
          [config]="data.configMap['answer']"
          [selectedItems]=""
        />
      } @else {
        <app-input-select
          [formGroup]="data.fGroup"
          [config]="data.configMap['answer']"
        >
        </app-input-select>
      }
    </div>
    <footer class="dialog-footer">
      <div class="dialog-footer__btn-wrapper">
        <app-button
          buttonLabel="Cancel"
          [buttonVariant]="'outlined'"
          (btnClick)="onClose()"
        ></app-button>
      </div>

      <div class="dialog-footer__btn-wrapper">
        <app-button
          buttonLabel="Submit"
          [disabled]="!data.fGroup.valid"
          (btnClick)="onSubmit()"
        ></app-button>
      </div>
    </footer>
  </form>
</div>
