<div class="question-form">
  <form [formGroup]="data.fGroup">
    <div class="question-form_field-container">
      <app-input-textarea
        class="assessment-form_field"
        [formGroup]="data.fGroup"
        type="text"
        [config]="data.configMap['questionText']"
      ></app-input-textarea>
      <div class="question-form__mark">
        <app-input-text
          [size]="'small'"
          class="question-form_field-col_one"
          [formGroup]="data.fGroup"
          type="text"
          [config]="data.configMap['maxmark']"
        ></app-input-text>
        <app-input-select
          [formGroup]="data.fGroup"
          class="question-form_field-col_one"
          [config]="data.configMap['questionType']"
        >
        </app-input-select>
      </div>

      <div formArrayName="options" class="question-form__options">
        @for (
          optionCtrl of optionsArray.controls;
          let i = $index;
          track optionCtrl;
          let last = $last
        ) {
          <div class="question-form__options__item">
            <app-input-text
              placeholder="Enter Option"
              [size]="'small'"
              [formGroup]="optionCtrl"
              type="text"
              [config]="data.configMap['options']"
            ></app-input-text>
            <p-button
              class="question-form__options__btn"
              icon="pi pi-minus"
              (click)="removeOption(i)"
            />
          </div>
          @if (i === optionsArray.controls.length - 1) {
            <p-button
              class="question-form__options__btn"
              icon="pi pi-plus"
              (click)="addOption()"
            />
          }
        }
      </div>

      <app-input-select
        [formGroup]="data.fGroup"
        [config]="data.configMap['answer']"
      >
      </app-input-select>
      <div class="question-form__switch">
        <app-toggle-switch
          [formGroup]="data.fGroup"
          [config]="data.configMap['hasAttachments']"
        >
        </app-toggle-switch>
        <app-toggle-switch
          [formGroup]="data.fGroup"
          [config]="data.configMap['active']"
        >
        </app-toggle-switch>
      </div>
      <!-- <div class="question-form__button">
        <app-button
          [buttonLabel]="'Cancel'"
          [buttonVariant]="'outlined'"
          (btnClick)="onClose()"
        ></app-button> -->
      <!-- <app-button
          [buttonLabel]="'Submit'"
          [saveDisabled]="!data.fGroup.valid"
          (btnClick)="onSubmit()"
        ></app-button> -->
      <!-- </div> -->
    </div>
  </form>
</div>
