:host {
  padding: var(--spacing-30);
}

.question-form {
  padding: 0;
  padding-bottom: 20px;
  &_field {
    margin-top: 5px;
  }

  &__title {
    margin: 0px 0px 5px 0px;
  }
  &__field {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
  }
  &__label {
    margin-bottom: var(--spacing-25);
    display: flex;
    align-items: center;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }
  &__switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
    &_options {
      justify-content: flex-end;
    }
  }
  &__options {
    &__item {
      display: flex;
      gap: 1rem;
      flex: 1 1 calc(50% - 0.5rem);
      flex-basis: 53%;
    }
    &__btn {
      height: 43px;
      ::ng-deep {
        .p-button {
          height: 100%;
          &__icon {
            font-size: var(--font-size-small);
          }
        }
      }
    }
  }
  &__options-input {
    width: 100%;
  }
  &__mark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 10px;
  }
  &_field {
    &-col {
      &_one {
        flex-basis: 50%;
      }
      &_two {
        width: 80%;
        flex-basis: 50%;
      }
    }

    &-container {
      display: flex;
      gap: 1rem;
      flex-flow: column;
    }
    &_hidden {
      display: none;
    }
    &_show {
      display: block;
    }
  }
  ::ng-deep {
    .p-toggleswitch {
      display: block;
    }
    .preview-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .small-icon-mr-2 {
      ::ng-deep {
        .p-button-icon {
          font-size: var(--font-size-small);
        }
        .p-button-icon-only.p-button-rounded {
          border-radius: 50%;
          height: 30px;
          width: 30px;
        }
      }
    }
  }

  .dialog-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--color-white);
    border-radius: 10px;
  }
  ::ng-deep {
    .text-area {
      margin-bottom: 10px;
    }
    .text-area__validation-label {
      bottom: -10px;
    }
  }
  @media screen and (max-width: 768px) {
    &_field {
      &-container {
        display: block;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .question-form {
      &__mark {
        flex-direction: column;
        gap: 1rem;
      }
      &_field {
        &-col {
          &_one {
            width: 100%;
            flex-basis: 100%;
          }
        }
      }

      &__options {
        &__item {
          flex: 1 1 100%;
          width: 100%;

          &__btn {
            height: 43px;
            ::ng-deep {
              .p-button {
                height: 100%;
              }
            }
          }
        }
      }
      &__custom-small-button {
        &__btn {
          width: 30px;
          height: 30px;
          font-size: 0.8rem;
          padding: 0.5em;
          color: var(__primary-color);
        }
      }
    }
  }
}
.dialog-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: var(--spacing-20);
  box-shadow: 0px -15px 20px -26px #000;
}
.dialog__header {
  box-shadow: 0px 15px 10px -20px #000;
  &__warning-indicator {
    position: relative;
    left: 0;
    font-size: var(--font-size-small);
    margin-top: 3px;
    color: #c01523;
  }
}
