<footer class="dialog-footer">
  @if (data) {
    @if (data.isChoice) {
      <div class="dialog-footer__btn-wrapper">
        <app-button
          [buttonLabel]="data.cancelButtonText || 'Cancel'"
          [buttonVariant]="'outlined'"
          (btnClick)="onClose()"
        ></app-button>
      </div>
    }

    <div class="dialog-footer__btn-wrapper">
      <app-button
        [buttonLabel]="data.acceptButtonText || data.closeButtonText || data.CloseButtonText || 'OK'"
        (btnClick)="onSubmit()"
      ></app-button>
    </div>
  }
</footer>
