<div class="auth-layout">
    <div class="flex-container">
        <div class="flex-item-left">
            <figure class="auth__logo">
                <img class="seidor" src="logo.png" alt="log" />
            </figure>
            <figure class="auth__logo2">
                <img src="logo2.png" alt="log" />
            </figure>
        </div>
        <div class="flex-item-right">
            <h1 class="welcome">Welcome to Hire Assist!</h1>
            <ng-content />
        </div>
      </div>
</div>
