@if (submittedData && !isLoading) {
  <div class="assessment-round__section">
    <div class="assessment-round__section-header">
      <h2 class="assessment-round__title app-title">Manage Interview Rounds</h2>
      <p class="assessment-round__description">
        Select rounds from the list below to assign to your recruitment.
      </p>
    </div>
    <div class="assessment-round_field__wrapper">
      <app-input-multiselect
        class="assessment-round_field-col_one"
        [formGroup]="fGroup"
        [config]="configMap['round']"
        [selectedItems]=""
      />
      <app-button
        class="assessment-round__action-button"
        [buttonLabel]="'Save Rounds'"
        [disabled]="!fGroup.value.round"
        (btnClick)="onSubmit()"
      ></app-button>
    </div>

    <p class="assessment-round__description">
      Selected rounds for this recruitment
    </p>
    <div class="assessment-round__selected-rounds-preview">
      @for (data of submittedData; let idx = $index; track data) {
        <div class="assessment-round__selected-rounds-list">
          {{ data.name || data }}
        </div>
      }
    </div>
  </div>

  <div class="assessment-round__section">
    <div class="assessment-round__section-header">
      <h2 class="assessment-round__title app-title">Create new round</h2>
      <p class="assessment-round__description">
        Create a new custom round and assign to your assessment
      </p>
    </div>
    <div class="assessment-round__field">
      <app-input-text
        type="text"
        class="assessment-round__fieldText"
        [formGroup]="fGroup"
        [config]="configMap['name']"
      ></app-input-text>
      <app-input-textarea
        [formGroup]="fGroup"
        type="text"
        [config]="configMap['description']"
      ></app-input-textarea>
    </div>
    <div class="assessment-round__action-button_create">
      <app-button
        class="assessment-round__action-button"
        [icon]="'pi pi-plus'"
        [buttonLabel]="'Create Round'"
        (btnClick)="onroundcreate()"
        [disabled]="!fGroup.value.name"
      ></app-button>
    </div>
  </div>
  <div class="assessment-round__section">
    <div class="assessment-round__section-header">
      <h2 class="assessment-round__title app-title">
        Reorder the selected rounds
      </h2>
      <p class="assessment-round__description">
        Arrange the rounds by dragging them into the correct sequence.
      </p>
    </div>
    <div class="assessment-round__roundorder">
      <div
        cdkDropList
        [cdkDropListData]="submittedData"
        (cdkDropListDropped)="onDrop($event)"
        class="assessment-round__stepper-horizontal"
        cdkDropListOrientation="horizontal"
      >
        @for (data of submittedData; let idx = $index; track data) {
          <div class="assessment-round__step-item" cdkDrag>
            {{ data.name || data }}
            @if (idx < submittedData.length - 1) {
              <ng-container>
                <i class="pi pi-arrow-right assessment-round__step-arrow"></i>
              </ng-container>
            }
          </div>
        }
      </div>
      <div class="assessment-round__save">
        <app-button
          class="assessment-round__action-button"
          [buttonLabel]="'Confirm & Save'"
          [disabled]="!submittedData"
          (btnClick)="onReorderAssessmentRound()"
        ></app-button>
      </div>
    </div>
  </div>
  <p-toast position="top-right" class="Toast"></p-toast>
}
@if (isLoading) {
  <app-assessment-round-skeleton></app-assessment-round-skeleton>
}
