<div class="input-input-select" [formGroup]="formGroup">
  <p-floatlabel variant="on">
    <p-select
      id="over_label"
      [options]="selectOptions"
      [(ngModel)]="selectedData"
      [checkmark]="true"
      optionLabel="name"
      [showClear]="true"
      class="w-full md:w-56"
      [formControlName]="selectConfig.id"
      (input)="onInputChange($event)" /><label for="over_label">{{
      selectConfig.labelKey
    }}</label></p-floatlabel
  >

  @if (selectConfig.matSuffix) {
    <span class="input-suffix">{{ selectConfig.matPrefix }}</span>
  } @else if (selectConfig.matPrefix) {
    <span class="input-suffix">{{ selectConfig.matSuffix }}</span>
  } @else if (dynamicSuffix) {
    <span class="input-suffix">{{ dynamicSuffix }}</span>
  }
  @if (formControl.touched && formControl.invalid) {
    <span class="input-text__validation-label"> {{ errorMsg }}</span>
  }
</div>
