<div class="input-select" [formGroup]="formGroup">
  <p-floatlabel variant="on">
    <p-select
      id="over_label"
      [options]="options"
      [checkmark]="true"
      optionLabel="label"
      optionValue="value"
      [showClear]="true"
      class="w-full md:w-56"
      [formControlName]="selectConfig.id" /><label for="over_label">{{
      selectConfig.labelKey
    }}</label></p-floatlabel
  >

  @if (selectConfig.matSuffix) {
    <span class="input-suffix">{{ selectConfig.matPrefix }}</span>
  } @else if (selectConfig.matPrefix) {
    <span class="input-suffix">{{ selectConfig.matSuffix }}</span>
  } @else if (dynamicSuffix) {
    <span class="input-suffix">{{ dynamicSuffix }}</span>
  }
  @if (formControl.touched && formControl.invalid) {
    <span class="input-select__validation-label"> {{ errorMsg }}</span>
  }
</div>
