<div class="interviewerPanels">
  <div class="interviewerPanels__title">
    <h2>Assign Panel</h2>
  </div>
  <div class="interviewerPanels__table">
    <app-table
      [tableData]="panelData"
      [columnsData]="panelColumn"
      [parentLoader]="isLoading"
      [hasSearch]="true"
      [hasCheckbox]="false"
      (edit)="editPanel($event)"
      (delete)="deletePanelAssignment($event)"
      (history)="viewHistory($event)"
      (pageChangeAndSort)="onTablePayloadChange($event)"
      (buttonClick)="onButtonClick($event)"
    >
      <div class="interviewerPanels__button">
        <app-button
          [buttonLabel]="'New'"
          icon="pi pi-plus"
          (btnClick)="createInterviewerPanel()"
        ></app-button></div
    ></app-table>
  </div>
  <app-history-drawer
    [(visible)]="visible"
    [events]="events"
    [loading]="historyLoading"
    [showLoadMore]="hasMoreHistory"
    (loadMore)="loadHistory()"
  ></app-history-drawer>
</div>
