<div class="assessment-list">
  <div>
    <div class="assessment-list__header">
      <h1 class="assessment-list__title">Recruitments</h1>
      <app-button
        class="assessment-list__button"
        [icon]="'pi pi-plus'"
        [buttonLabel]="'Create'"
        (btnClick)="onCreateAssessment()"
      ></app-button>
    </div>

    <div class="assessment-list__wrapper">
      @if ((isLoading$ | async) || isLoading) {
        <app-assessment-card-skeleton
          class="assessment-list__card"
        ></app-assessment-card-skeleton>
      } @else {
        <div
          [ngClass]="{
            'assessment-list__list': assessmentDataSource.length > 0,
          }"
        >
          @for (assessment of assessmentDataSource; track assessment) {
            <app-assessment-card
              class="assessment-list__card"
              [data]="assessment"
              (edit)="onEditAssessment($event)"
              (duplicate)="onDuplicateAssessment($event)"
              (delete)="onDeleteAssessment($event)"
              (schedule)="onScheduleAssessment($event)"
              (click)="onClickAssessment(assessment.id ?? 0)"
              (keydown)="onClickAssessment(assessment.id ?? 0)"
            ></app-assessment-card>
          }

          @if ((isLoading$ | async) === false && totalRecords === 0) {
            <p class="assessment-list__empty">No recruitments found</p>
          }
        </div>
      }
    </div>
  </div>
  <app-pagination
    [dataSource]="dataSource"
    [filterMap]="filterMap"
    [totalRecords]="totalRecords"
    [isLoading]="isInitialLoad"
  >
  </app-pagination>
</div>
<p-toast />
