.assessment-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__title {
    text-align: left;
    font-weight: 700;
    color: var(--color-grey);
  }
  &__actions {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  &__card {
    display: block;
    max-height: 200px;
  }
  &__wrapper {
    height: calc(100vh - 275px);
    overflow-y: auto;
    margin-right: -20px;
    padding-right: 25px;
    margin-bottom: 20px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: var(--spacing-15);
    row-gap: var(--spacing-15);
    width: 100%;
    a {
      text-decoration: none !important;
    }


  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
    &__header {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
    &__list {
      grid-template-columns: 1fr;
    }
    &__title {
      margin: 0;
      font-size: var(--font-size-24);
    }
    &__wrapper {
      height: calc(100vh - 270px);
    }
  }
}
