<div class="toggle-switch" [formGroup]="formGroup">
  <label for="over_label">{{ customToggleSwitchConfig.labelKey }}</label>
  <p-floatlabel variant="on">
    <p-toggleswitch
      id="over_label"
      pToggleswitch
      [formControlName]="customToggleSwitchConfig.id"
      [trueValue]="true"
      [falseValue]="false"
    >
      <ng-template #handle let-checked="checked">
        <i ngClass="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
      </ng-template>
    </p-toggleswitch>
  </p-floatlabel>

  @if (customToggleSwitchConfig.matSuffix) {
    <span class="input-suffix">{{ customToggleSwitchConfig.matSuffix }}</span>
  } @else if (customToggleSwitchConfig.matPrefix) {
    <span class="input-prefix">{{ customToggleSwitchConfig.matPrefix }}</span>
  } @else if (dynamicSuffix) {
    <span class="input-dynamicSuffix">{{ dynamicSuffix }}</span>
  }
  @if (formControl.touched && formControl.invalid) {
    <span class="toggle-switch__validation-label"> {{ errorMsg }}</span>
  }
</div>
