.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    position: absolute;
    top: var(--spacing-10);
    right: var(--spacing-15);
    z-index: 1000;
    font-size: var(--font-size-28);
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #000;
    }
  }

  &__loader {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

::ng-deep {
  .p-image {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
