:host {
  width: 70%;
  @media (max-width: 768px) {
    width: unset;
  }
}
.login {
  text-align: center;
  &__title {
    color: var(--color-grey);
  }
  &__sub-title,
  &__title {
    margin-top: 0;
  }
  &__back {
    background: none;
    border: none;
    color: var(--color-grey);
    text-decoration: underline;
    cursor: pointer;
    font-size: var(--font-size-0_9rem);
    padding: 0;
  }
  @media (max-width: 768px) {
    width: var(--width-vw-80);
    background: var(--color-white);
    border-radius: var(--spacing-20);
    padding: var(--spacing-30);
    &__title {
      color: var(--color-black);
    }
  }
}
