.coordinator-assessment {
  margin-top: var(--spacing-20);
  height: 100%;
  &__title {
    text-align: left;
    font-weight: 8700;
    color: var(--color-grey);
    font-size: var(--font-size-20);
    margin-bottom: var(--spacing-20);
  }
  &__card {
    display: block;
    max-height: 200px;
  }
  &__wrapper {
    height: calc(100vh - 255px);
    overflow-y: auto;
    margin-right: -25px;
    padding-right: 25px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: var(--spacing-15);
    row-gap: var(--spacing-15);
    width: 100%;
  }
}
