.coordinator-assessment-rounds {
  margin-top: var(--spacing-20);
  height: calc(100% - 30px);
  &__title {
    text-align: left;
    font-weight: 8700;
    color: var(--color-grey);
    font-size: var(--font-size-20);
    margin:0;
  }
  &__card {
    display: block;
    max-height: 200px;
  }
  &__wrapper {
    height: 100%;
    overflow-y: auto;
    margin-right: -25px;
    padding-right: 25px;
    margin-bottom: 20px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: var(--spacing-15);
    row-gap: var(--spacing-15);
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 0;
  }
}
