<div class="reset-password-change">
  <h1 class="reset-password-change__title">Create New Password</h1>
  <p class="reset-password-change__sub-title">
    The password must be at least 8 characters long and include at least one
    uppercase letter, one lowercase letter, a number, and a special character.
  </p>
  <form [formGroup]="resetPasswordFormGroup">
    <app-input-password
      [formGroup]="resetPasswordFormGroup"
      [config]="configMap['newPassword']"
    ></app-input-password>
    <app-input-password
      [formGroup]="resetPasswordFormGroup"
      [config]="configMap['confirmPassword']"
    ></app-input-password>

    <app-button
      [buttonLabel]="'Submit'"
      [buttonSize]="'large'"
      [buttonWidth]="'full'"
      [isLoading]="isLoading"
      (click)="onSubmit()"
    ></app-button>
  </form>

  <button class="reset-password-change__back" (click)="backToLogin()">
    Back to Login
  </button>
  <p-toast position="top-right" class="Toast"></p-toast>
</div>
