$app-theme: (
  50: #f8e1e7,
  100: #eeb5c4,
  200: #e3849d,
  300: #d75376,
  400: #cf2e58,
  500: #c6093b,
  600: #c00835,
  700: #b9062d,
  800: #b10526,
  900: #a40219,
  A100: #ffced3,
  A200: #ff9ba4,
  A400: #ff6875,
  A700: #ff4f5e,
  contrast: (
    100: #595959,
    200: #595959,
    300: #595959,
    400: #595959,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: #595959,
    A200: #595959,
    A400: white,
    A700: white,
  ),
);
