<div class="file-upload">
  <div class="file-upload__item">
    <app-input-select
      [formGroup]="data.fGroup"
      class="file-upload__item_field-col_one"
      [config]="data.configMap[attachmentTypeFieldKey]"
    >
    </app-input-select>

    <p-fileupload
      class="file-upload__item_field-col_two"
      mode="basic"
      chooseLabel="Upload File"
      chooseIcon="pi pi-upload"
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="image/*"
      (onSelect)="onFileChange($event)"
      maxFileSize="5242880"
    />
  </div>
  <div class="file-upload__button">
    @if (isUploading) {
      <div class="file-upload__loader">
        <p-progressSpinner
          strokeWidth="4"
          animationDuration=".5s"
          styleClass="upload-spinner"
        ></p-progressSpinner>
        <span class="ml-2">Uploading...</span>
      </div>
    }
    <app-button
      [buttonLabel]="'Cancel'"
      [buttonVariant]="'outlined'"
      (btnClick)="onClose()"
    ></app-button>
    <app-button
      [buttonLabel]="'Save'"
      [disabled]="!data.fGroup.valid || isUploading"
      (btnClick)="onSubmit()"
    ></app-button>
  </div>
</div>
