:host {
  padding: var(--spacing-10);
}
::ng-deep {
  .fileUpload__dialog {
    max-width: 48vw;
  }
}
.file-upload {
  // padding: var(--spacing-10) 0 0;
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    &_field {
      &-col {
        &_one {
          flex-basis: 50%;
        }
        &_two {
          width: 80%;
          flex-basis: 50%;
        }
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
  .file-upload__loader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .upload-spinner {
    width: 1rem;
    height: 1rem;
  }
  @media (max-width: 480px) {
    &__item {
      flex-direction: column;
      align-items: stretch;

      &_field {
        &-col {
          &_one,
          &_two {
            width: 100%;
            flex-basis: 100%;
          }
        }
      }
    }

    &__button {
      margin-top: var(--spacing-20);
      flex-direction: row;
      justify-content: space-between;
      button,
      app-button {
        width: 100%;
      }
    }
  }
}
.file-upload__preview {
  margin-bottom: 10px;
  position: relative;
}
::ng-deep {
  .file-upload__preview-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
.preview-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  border: 1px solid #ccc;
  object-fit: cover;
}
