:host {
  padding: var(--spacing-10);
}
.file-upload {
  // padding: var(--spacing-10) 0 0;
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    &_field {
      &-col {
        &_one {
          flex-basis: 50%;
        }
        &_two {
          width: 80%;
          flex-basis: 50%;
        }
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
  @media (max-width: 480px) {
    &__item {
      flex-direction: column;
      align-items: stretch;

      &_field {
        &-col {
          &_one,
          &_two {
            width: 100%;
            flex-basis: 100%;
          }
        }
      }
    }

    &__button {
      margin-top: var(--spacing-20);
      flex-direction: row;
      justify-content: space-between;
      button,
      app-button {
        width: 100%;
      }
    }
  }
}
