.pagination {
  margin: 0 -30px -20px;
  &__custom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--color-white);
    color: var(--p-paginator-color);
    padding: 1rem;
    border-radius: var(--p-paginator-border-radius);
    gap: var(--p-paginator-gap);
  }

  @media screen and (max-width: 1024px) {
    margin: 0 -20px -20px;
  }
}
