.pagination {
  // margin: 0 -30px 0px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  &__custom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--color-white);
    color: var(--p-paginator-color);
    padding: 1rem;
    border-radius: var(--p-paginator-border-radius);
    gap: var(--p-paginator-gap);
  }

  // @media screen and (max-width: 1024px) {
  //   bottom: 20px;
  // }
}
