<aside class="sidebar" [ngClass]="{ sidebar_mobile: this.showMenu() }">
  <div class="sidebar__header">
    <figure class="sidebar__logo"><img src="logo.png" alt="logo" /></figure>
    <!-- Add tabindex="0" for focusability and keydown event for keyboard interaction -->
    <span
      class="pi pi-times-circle"
      tabindex="0"
      (click)="closeToggleMenu()"
      (keydown.enter)="closeToggleMenu()"
      (keydown.space)="closeToggleMenu()"
      aria-label="Close menu"
      role="button">
    </span>
  </div>

  <nav class="sidebar__nav">
    <p-menu [model]="items"></p-menu>
  </nav>
</aside>
