:host {
  width: 270px;
  height: 100%;
  box-shadow: inset -3px 0px 4px -1px rgba(0, 0, 0, 0.05);
}

.sidebar {
  padding: var(--spacing-30);
  text-align: center;
  height: 100%;

  &__logo {
    width: 100%;
    margin: 0;

    img {
      width: 80%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__header {
    ::ng-deep {
      .pi {
        display: none;
      }
    }
  }

  &__nav {
    margin-top: var(--spacing-60);

    ::ng-deep {
      .p-menu {
        border: none;

        .p-menu-item-link-active {
          background: var(--background-secondary);
          padding: var(--spacing-20);
          border-radius: 10px;

          .p-menu-item-label {
            font-weight: 500;
          }

          .p-menu-item-icon {
            color: var(--primary-color);
          }
        }

        .p-menu-item-content:hover {
          .p-menu-item-link-active {
            .p-menu-item-icon {
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    display: none;
    &_mobile {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 9;
    }
    &__logo {
      text-align: left;
      width: 50%;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      ::ng-deep {
        .pi {
          display: block;
          font-size: 30px;
          color: #1565c0;
        }
      }
    }
  }
}
