<aside class="sidebar" [ngClass]="{ sidebar_mobile: this.showMenu() }">
  <div class="sidebar__header">
    <figure class="sidebar__logo"><img src="logo.png" alt="logo" /></figure>
    <button
      class="pi pi-times-circle"
      type="button"
      tabindex="0"
      (click)="closeToggleMenu()"
      aria-label="Close menu"
    ></button>
  </div>

  <nav class="sidebar__nav">
    <p-panelmenu
      [model]="navLinks"
      (click)="closeToggleMenu()"
      (keydown)="closeToggleMenu()"
    ></p-panelmenu>
  </nav>
</aside>
