<div class="dialog">
  <div class="dialog__header">
    <h2>{{ candidateData?.title }}</h2>
  </div>
  <form [formGroup]="fGroup"></form>
  <app-input-select [formGroup]="fGroup" [config]="configMap['batch']" />

  @if (fGroup.get("batch")?.value) {
    <app-input-text-calender
      class="batch-form_field-col_one"
      [formGroup]="fGroup"
      [config]="configMap['startDate']"
      [showTime]="true"
      [hasDateError]="
        isDateChanged('startDate')
          ? 'Modifying the StartDateTime will update the entire batch schedule.'
          : ''
      "
    ></app-input-text-calender>

    <app-input-text-calender
      class="batch-form_field-col_one"
      [formGroup]="fGroup"
      [config]="configMap['endDate']"
      [showTime]="true"
      [hasDateError]="
        isDateChanged('endDate')
          ? 'Modifying the EndDateTime will update the entire batch schedule.'
          : ''
      "
    >
    </app-input-text-calender>
    <app-input-multiselect
      [formGroup]="fGroup"
      [config]="configMap['questionSet']"
      [selectedItems]=""
    />
  }
</div>
<footer class="dialog-footer">
  <div class="dialog-footer__btn-wrapper">
    <app-button
      buttonLabel="Cancel"
      [buttonVariant]="'outlined'"
      (btnClick)="onClose()"
    ></app-button>
  </div>
  <div class="dialog-footer__btn-wrapper">
    <app-button buttonLabel="Submit" (btnClick)="onSubmit()"></app-button>
  </div>
</footer>
