.table {
  font-size: var(--font-size-base);

  ::ng-deep {
    .p-badge,
    .p-tag,
    .p-button,
    .p-inputtext {
      font-size: var(--font-size-small);
    }

    .p-toolbar-start {
      display: flex;
      gap: 1rem;
    }
    .p-table-wrapper {
      min-width: 1200px;
    }
    .p-datatable-thead > tr > th.p-datatable-column-sorted {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
  }
  &_skeleton {
    min-width: 100%;
  }
  &__expanded {
    &__correctAnswer {
      color: rgb(8, 135, 8);
      width: fit-content;
      font-weight: bold;
    }
    &__optionList {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      list-style-type: lower-alpha;
    }

    &__optionListForImage {
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style-type: lower-alpha;
    }
  }
  &_isAlready {
    background-color: rgb(255, 255, 237);
    &:hover {
      background-color: rgb(255, 255, 237) !important;
    }
  }
  &_isDuplicate {
    background-color: rgb(255, 182, 182);
    &:hover {
      background-color: rgb(255, 182, 182) !important;
    }
  }
  &__globalFilters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    flex-wrap: nowrap;
    &_filters {
      display: flex;
      gap: 1rem;
    }
    &_search {
      display: flex;
      justify-content: flex-end;
    }
    &_clear {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__buttonColumn {
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width: 768px) {
    &__globalFilters {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      &_search,
      &_clear {
        justify-content: space-between;
        ::ng-deep {
          .pi {
            font-size: unset !important;
          }
        }
      }
    }
    &__previewImage {
      margin-top: 10px;
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-left: 6%;
      position: relative;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 375px) {
    &__globalFilters {
      &_search input {
        text-overflow: ellipsis;
        flex-grow: 1;
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 450px) {
    .table__globalFilters {
      flex-direction: row !important;
      align-items: center !important;
      flex-wrap: nowrap !important;
    }

    .table__globalFilters_filters {
      flex-direction: row !important;
      align-items: center;
      gap: 1rem;
    }

    .table__globalFilters_search,
    .table__globalFilters_clear {
      width: auto !important;
      justify-content: flex-start;
    }
  }

  ::ng-deep {
    .p-datatable-filter-overlay,
    .p-datatable-filter-buttonbar {
      font-size: var(--font-size-small);
    }
    .p-datatable-tbody > tr > td {
      white-space: wrap !important;
    }
  }
  :host ::ng-deep {
    .p-datatable-loading-overlay {
      background: transparent !important;
    }
    @media (max-width: 768px) {
      .p-paginator-page {
        max-width: 30px;
        min-width: 30px;
        height: 30px;
      }
    }
  }
  .button-group {
    display: flex;
    gap: 1rem;
    app-button {
      margin: 0;
    }
    @media (max-width: 768px) {
      gap: 0.5rem;
      justify-content: center;
    }
  }
}
