.table {
  font-size: var(--font-size-base);
  :host ::ng-deep .p-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.table-loading {
    ::ng-deep {
      .p-paginator-rpp-options {
        display: none;
        width: 0 !important;
        pointer-events: none;
      }

      .p-paginator-content-start {
        display: block !important;
      }

      .p-paginator {
        display: block;
        width: 100%;
      }

      .p-paginator-pages {
        display: none;
      }

      .p-paginator-first,
      .p-paginator-prev,
      .p-paginator-next,
      .p-paginator-last,
      .p-paginator-rpp-dropdown {
        display: none;
      }
    }
  }
  &__row--disabled {
    opacity: 0.6;
    background-color: #f1f5f9 !important;
    pointer-events: none;
  }
  @media (max-width: 440px) {
    ::ng-deep {
      .p-paginator p-component {
        .p-button {
          min-width: 2rem;
          height: 2rem;
        }
        .p-paginator-content-start {
          display: none !important;
        }
      }
    }
  }
  ::ng-deep {
    .p-badge,
    .p-tag,
    .p-button,
    .p-inputtext {
      font-size: var(--font-size-small);
    }
    .p-toolbar-start {
      display: flex;
      gap: 1rem;
    }
    .p-table-wrapper {
      min-width: 1200px;
    }
    .p-datatable-thead > tr > th.p-datatable-column-sorted {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    p-paginator {
      display: flex;
      width: 100%;
      justify-content: center;
      background: var(--color-white);
    }

    .p-paginator-content-start {
      display: none;
    }
    .p-paginator-page,
    .p-paginator-next,
    .p-paginator-last,
    .p-paginator-first,
    .p-paginator-prev {
      min-width: 2rem;
      height: 2rem !important;
    }
  }
  &_skeleton {
    min-width: 100%;
  }
  &__expanded {
    &__correctAnswer {
      color: rgb(8, 135, 8);
      width: fit-content;
      font-weight: bold;
    }
    &__optionList {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      list-style-type: lower-alpha;
    }
    &__optionListForImage {
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style-type: lower-alpha;
    }
  }
  &_isAlready {
    background-color: rgb(255, 255, 237);
    &:hover {
      background-color: rgb(255, 255, 237) !important;
    }
  }
  &_isDuplicate {
    background-color: rgb(255, 182, 182);
    &:hover {
      background-color: rgb(255, 182, 182) !important;
    }
  }
  &__custom-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--p-paginator-background);
    color: var(--p-paginator-color);
    padding: var(--p-paginator-padding);
    border-radius: var(--p-paginator-border-radius);
    gap: var(--p-paginator-gap);
  }

  &__globalFilters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    flex-wrap: nowrap;
    &_filters {
      display: flex;
      gap: 1rem;
    }
    &_search {
      display: flex;
      justify-content: flex-end;
    }
    &_clear {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__buttonColumn {
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width: 768px) {
    ::ng-deep {
      .hideOnMobile {
        display: none;
      }
    }
    &__globalFilters {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      &_search,
      &_clear {
        justify-content: space-between;
        ::ng-deep {
          .pi {
            font-size: unset !important;
          }
        }
      }
    }
  }
  &__previewImage {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-left: 6%;
    position: relative;
    cursor: pointer;
    &--placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 70px;
      border: 2px dashed #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        border-color: #999;
        background-color: #f0f0f0;
        i {
          color: #999 !important;
        }
      }
    }
  }
  @media screen and (max-width: 375px) {
    &__globalFilters {
      &_search input {
        text-overflow: ellipsis;
        flex-grow: 1;
        width: 100%;
      }
    }
  }
  @media screen and (min-width: 450px) {
    .table__globalFilters {
      flex-direction: row !important;
      align-items: center !important;
      flex-wrap: nowrap !important;
    }
    .table__globalFilters_filters {
      flex-direction: row !important;
      align-items: center;
      gap: 1rem;
    }
    .table__globalFilters_search,
    .table__globalFilters_clear {
      width: auto !important;
      justify-content: flex-start;
    }
  }
  :host ::ng-deep .p-paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  :host ::ng-deep .p-skeleton {
    border-radius: 8px;
  }
  ::ng-deep {
    .p-datatable-filter-overlay,
    .p-datatable-filter-buttonbar {
      font-size: var(--font-size-small);
    }
    .p-datatable-tbody > tr > td {
      white-space: wrap !important;
    }
  }
  :host ::ng-deep {
    .p-datatable-loading-overlay {
      background: transparent !important;
    }
    @media (max-width: 768px) {
      .p-paginator-page {
        max-width: 30px;
        min-width: 30px;
        height: 30px;
      }
    }
  }
  .button-group {
    display: flex;
    gap: 1rem;
    app-button {
      margin: 0;
    }
    @media (max-width: 768px) {
      gap: 0.5rem;
      justify-content: center;
    }
  }
  &__header-no-pointer {
    pointer-events: none;
    cursor: default;
    user-select: none;
    right: 0 !important;
  }
}

:host ::ng-deep th.table__header-no-pointer {
  z-index: 5 !important;
  pointer-events: auto !important;
}
