.dialog__content {
  height: 50vh;
  overflow-y: auto;
  padding: 10px 0;
}
.dialog-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: var(--spacing-20);
  box-shadow: 0px -15px 20px -26px #000;
  position: relative;
  z-index: 1;
}
.dialog__header {
  box-shadow: 0px 15px 10px -20px #000;
  &__warning-indicator {
    position: relative;
    left: 0;
    font-size: var(--font-size-small);
    margin-top: 2px;
    color: #c01523;
  }
}

// Ensure datepicker appears above modal footer
::ng-deep {
  .p-datepicker-panel {
    z-index: 10001 !important;
  }
}

