<div class="assessment-form">
  <form [formGroup]="data.fGroup">
    <div>
      <div class="assessment-form_field-container">
        <app-input-text
          class="assessment-form_field-col_one"
          [formGroup]="data.fGroup"
          type="text"
          [config]="data.configMap['name']"
        ></app-input-text>
        <app-input-text-calender
          class="assessment-form_field-col_one"
          [formGroup]="data.fGroup"
          [config]="data.configMap['startDateTime']"
        ></app-input-text-calender>

        <app-input-text-calender
          class="assessment-form_field-col_one"
          [formGroup]="data.fGroup"
          [config]="data.configMap['endDateTime']"
        >
        </app-input-text-calender>
      </div>
      <app-input-textarea
        class="assessment-form_field"
        [formGroup]="data.fGroup"
        [config]="data.configMap['description']"
      >
      </app-input-textarea>
      <app-toggle-switch
        [ngClass]="
          isEdit ? 'assessment-form_field_show' : 'assessment-form_field_hidden'
        "
        [formGroup]="data.fGroup"
        [config]="data.configMap['isActive']"
      >
      </app-toggle-switch>
    </div>
    <div class="assessment-form__button">
      <app-button
        [buttonLabel]="'Cancel'"
        [buttonVariant]="'outlined'"
        (btnClick)="onClose()"
      ></app-button>
      <app-button
        [buttonLabel]="'Submit'"
        [disabled]="data.fGroup.invalid"
        (btnClick)="onSubmit()"
      ></app-button>
    </div>
  </form>
</div>
