.assessment-summary {
  &__title {
    color: var(--color-grey);
  }
  &__wrapper {
    height: calc(100vh - 230px);
    overflow-y: auto;
    margin-right: -20px;
    padding-right: 25px;
    margin-bottom: 20px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: var(--spacing-15);
    row-gap: var(--spacing-15);
    width: 100%;
  }
  &__card {
    display: block;
    max-height: 200px;
  }
  &__empty {
    grid-column: 1 / -1;
    text-align: center;
    padding: 2rem;
    color: var(--color-grey);
    font-size: 1rem;
  }
  @media screen and (max-width: 768px) {
    &__list {
      grid-template-columns: 1fr;
    }
    &__wrapper {
      height: calc(100vh - 201px);
    }
  }
  ::ng-deep {
    .pagination {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}
