<div class="question">
  <p class="question-text">{{ question.text }}</p>
  @if (question.hasAttachment) {
    @if (imageLoading) {
      <app-image-skeleton></app-image-skeleton>
    } @else if (previewImageUrls[question.id] && previewImageUrls[question.id].length) {
      @for (
        imgUrl of previewImageUrls[question.id];
        track imgUrl;
        let i = $index
      ) {
        <div class="question-image">
          <app-image
            width="100"
            height="70"
            [imageUrl]="imgUrl"
            [paddingTop]="'0'"
            [isZoomable]="true"
            [removeIcon]="true"
          >
          </app-image>
        </div>
      }
    } @else if (hasImageError) {
      <div class="question-image">
        <img
          [src]="placeholderImageUrl"
          alt="Error fetching attachment"
          style="width: 100px; height: 70px; object-fit: contain; border: 1px solid #ddd;"
        />
      </div>
    }
  }
</div>
