<div class="file-dialog">
  <div class="file-dialog__body" (contextmenu)="onRightClick($event)">
    <div class="file-dialog__content-wrapper">
      @if (isLoading) {
        <app-file-skeleton></app-file-skeleton>
      } @else if (hasError || !imageUrl) {
        <div class="file-dialog__error-container">
          <i class="pi pi-image file-dialog__error-icon"></i>
          <p class="file-dialog__error-text">Failed to load image preview</p>
        </div>
      } @else {
        <app-image
          [imageUrl]="imageUrl"
          [paddingTop]="'0'"
          [forceCancelRequest]="forceCancelRequest"
          [removeIcon]="true"
          (closeImage)="onClose()"
        ></app-image>
      }
    </div>
  </div>
</div>
