.p-multiselect-option.p-multiselect-option-selected {
  background-color: unset !important;
  color: unset !important;
}
.p-overlay {
  width: min-content;
  max-width: 100%;
}

.p-multiselect-label {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  white-space: normal;
  overflow: visible;
  max-height: none;
}

.p-multiselect-token {
  display: inline-flex;
  margin: 0;
  flex-shrink: 0;
}
