.p-toast {
  max-width: calc(100% - 40px);
}

@media screen and (max-width: 425px) {
  .p-datatable-filter-overlay-popover {
    margin-left: 20px !important;
    margin-right: 20px !important;
    left: 0 !important;
    right: 0 !important;
  }
}
