<div class="batch-form">
  <form [formGroup]="data.fGroup">
    <div class="batch-form_field-container">
      <app-input-text
        class="batch-form_field"
        [formGroup]="data.fGroup"
        type="text"
        [config]="data.configMap['title']"
      ></app-input-text>
    </div>
    <app-input-textarea
      class="batch-form_field"
      [formGroup]="data.fGroup"
      [config]="data.configMap['description']"
    >
    </app-input-textarea>
    <app-toggle-switch
      [ngClass]="isEdit ? 'batch-form_field_show' : 'batch-form_field_hidden'"
      [formGroup]="data.fGroup"
      [config]="data.configMap['isActive']"
    >
    </app-toggle-switch>
    <div class="batch-form__button">
      <app-button
        [buttonLabel]="'Cancel'"
        [buttonVariant]="'outlined'"
        (btnClick)="onClose()"
      ></app-button>
      <app-button
        [buttonLabel]="'Submit'"
        [disabled]="!data.fGroup.valid"
        (btnClick)="onSubmit()"
      ></app-button>
    </div>
  </form>
</div>
