.cover-image {
  position: relative;
  width: calc(100% + 60px);
  height: 300px;
  overflow: hidden;
  margin: 0 -30px;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--background-secondary);
  }
  &__skeleton {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  &__skeleton-img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  &__icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: var(--font-size-base);
    color: var(--primary-color);
    cursor: pointer;
    ::ng-deep {
      .p-button {
        background-color: var(--color-white);
        color: var(--primary-color);
        margin-right: 4px;
      }
    }
  }
}
