  label {
      font-size: var(--font-size-base);
      font-weight: 500;
      color: var(--color-black);
      margin-top: 15px;
      //   margin-left: 12px;

  }


  ::ng-deep .p-datepicker-input {
      background: transparent;
      font-size: var(--font-size-small);
      border: none;
      border-bottom: 2px solid #ccc;
      outline: none;
      padding: 0.9rem 0;
      font-size: 16px;
      background-color: transparent;
      transition: border-color 0.3s ease-in-out;
      color: #000000;
      margin-top: 29px;
      height: 44px;
      width: 100%;
      border-radius: 0;

      &:focus {
          border-color: #999191;
          box-shadow: var(--primary-color);
          outline: none;
          background-color: rgb(197, 197, 201) !important;
      }

  }

  ::ng-deep .input {
      width: 100%;
      max-width: 100%;
  }

  ::ng-deep .p-datepicker {
      padding-top: 3px;


      color: #000000;
      max-width: 100%;
  }

  ::ng-deep .p-datepicker-input {
      margin: 0;



  }

  ::ng-deep .p-inputtext {
      width: 900px
  }


  ::ng-deep .p-datepicker-dropdown {
      background: transparent;
      border: none;
      border-bottom: 2px solid #ccc;
      outline: none;
      background-color: transparent;
      transition: border-color 0.3s ease-in-out;
      color: var(--color-black);
  }