<div class="card">
  <div class="card__header">
    <span class="card__tag">Aptitude Test</span>
  </div>
  <div class="card__content">
    <ng-content></ng-content>
  </div>
  @if (showButton) {
    <div class="card__footer">
      <app-button
        [buttonLabel]="buttonLabel"
        (btnClick)="startAssessment()"
        [disabled]="
          statusId() === status.Completed ||
          (isPreviousAssessment() ?? false) ||
          disable
        "
        [buttonSeverity]="buttonLabel === 'Closed' ? 'danger' : 'primary'"
      ></app-button>
    </div>
  }
</div>
