:host {
  ::ng-deep {
    .p-datatable-table-container {
      overflow: auto;
      max-height: calc(100vh - 300px);
      background-color: var(--color-white);
    }
  }
}
.roles-access {
   color: var(--color-grey);
  &__button {
    display: flex;
    gap: 1rem;
    justify-items: flex-start;
   
  }
}
