
.roles-access {
   color: var(--color-grey);
  &__button {
    display: flex;
    gap: 1rem;
    justify-items: flex-start;
    ::ng-deep {
      .p-button-icon, .p-button-label {
        font-size: 14px !important;
      }
    }
  }
}
