<div class="input-text" [formGroup]="formGroup">
  <!-- FLOAT LABEL (DEFAULT) -->
  @if (floatLabel) {
    <div class="input-text__wrapper">
      <p-floatlabel variant="on">
        <input
          #inputField
          [id]="inputTextConfig.id"
          pInputText
          [type]="type"
          [formControlName]="inputTextConfig.id"
          [readOnly]="inputTextConfig.readonly"
          [pKeyFilter]="inputTextConfig.keyfilter ? $any(inputTextConfig.keyfilter) : null"
          (input)="onInputChange($event)"
          autocomplete="off"
          [ngClass]="{ 'input-text__input--masked': isMasked && inputTextConfig.isMaskable && formControl.value }"
        />
        <label [for]="inputTextConfig.id">
          {{ inputTextConfig.labelKey }}
        </label>
      </p-floatlabel>
      @if (isMasked && inputTextConfig.isMaskable && formControl.value) {
        <div class="input-text__overlay">
          {{ displayValue }}
        </div>
      }
      @if (inputTextConfig.isMaskable) {
        <i
          class="pi input-text__icon"
          [ngClass]="isMasked ? 'pi-eye' : 'pi-eye-slash'"
          (click)="toggleMask()"
        ></i>
      }
    </div>
  }

  <!-- BASIC VARIANT -->
  @else {
    <div class="input-text__basic">
      <label class="input-text__label" [for]="inputTextConfig.id">
        {{ inputTextConfig.labelKey }}
      </label>

      <div class="input-text__wrapper">
        <input
          #inputField
          [id]="inputTextConfig.id"
          pInputText
          [type]="type"
          [formControlName]="inputTextConfig.id"
          [readOnly]="inputTextConfig.readonly"
          [pKeyFilter]="inputTextConfig.keyfilter ? $any(inputTextConfig.keyfilter) : null"
          (input)="onInputChange($event)"
          autocomplete="off"
          [ngClass]="{ 'input-text__input--masked': isMasked && inputTextConfig.isMaskable && formControl.value }"
        />
        @if (isMasked && inputTextConfig.isMaskable && formControl.value) {
          <div class="input-text__overlay">
            {{ displayValue }}
          </div>
        }
        @if (inputTextConfig.isMaskable) {
          <i
            class="pi input-text__icon"
            [ngClass]="isMasked ? 'pi-eye' : 'pi-eye-slash'"
            (click)="toggleMask()"
          ></i>
        }
      </div>
    </div>
  }

  @if (formControl.touched && formControl.invalid) {
    <span class="input-text__validation-label">
      {{ errorMsg }}
    </span>
  }
</div>
