.input-text {
  margin-bottom: 25px;
  position: relative;

  .p-inputtext {
    width: 100% !important;
    // height: 50px;
  }

  .p-floatlabel {
    width: 100%;
  }

  .p-floatlabel-on:not(input.p-filled) label {
    font-weight: 300;
    font-size: var(--font-size-base);
  }

  .p-floatlabel-on:has(input.p-filled, input:focus) label {
    font-size: smaller;
  }

  &__validation-label {
    position: absolute;
    left: 0;
    font-size: var(--font-size-small);
    margin-top: 2px;
    color: var(--p-form-field-invalid-placeholder-color);
    padding: 0 var(--spacing-10);
  }

  &__label {
    font-weight: 300;
    font-size: var(--font-size-base);
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__input--masked {
    color: transparent !important;
    caret-color: transparent !important;

    &::selection {
      background: transparent !important;
      color: transparent !important;
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 1rem;
    pointer-events: none;
    font-family: inherit;
    font-size: inherit;
    color: var(--p-inputtext-color);
    letter-spacing: 0.1em;
    width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
  }

  &__icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: var(--p-inputtext-icon-color);
    z-index: 2;
    padding: 10px;

    &:hover {
      color: var(--p-primary-color);
    }
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.p-button-text.p-button-plain:not(:disabled):hover {
  background: transparent;
}

@media screen and (max-width: 374px) {
  .input-text__validation-label {
    font-size: 10px;
  }
}