@switch (pageLayoutService.layout$ | async) {
  @case (PageLayout.DashBoard) {
    <app-dashboard-layout>
      <router-outlet />
    </app-dashboard-layout>
  }

  @case (PageLayout.FullScreen) {
    <app-fullscreen-layout>
      <router-outlet />
    </app-fullscreen-layout>
  }

  <!--@case (PageLayout.Error) {
        <error-layout>
            <router-outlet />
        </error-layout>
    } -->

  @default {
    <!-- <unauthorized-layout>
            <router-outlet />
        </unauthorized-layout> -->
  }
}
