<div class="assessment">
  @if (isLoading || !data || !data.questions || data.questions.length === 0) {
  <app-candidate-test-skeleton></app-candidate-test-skeleton>
  } @else {
  <div class="assessment__carousel">
    @for (quest of data.questions; track quest.id) {
    <div class="assessment__carousel__button">
      <app-button class="btn" [btnRounded]="true" [buttonSeverity]="
              quest.status === 'reviewed'
                ? 'warn'
                : quest.status === 'skipped'
                  ? 'danger'
                  : quest.status === 'saved'
                    ? 'success'
                    : quest.id === activeButtonId
                      ? 'info'
                      : 'secondary'
            " buttonLabel="{{ data.questions.indexOf(quest) + 1 }}" (btnClick)="onButtonClick(quest.id)">{{
        activeButtonId }}
      </app-button>
    </div>
    }
  </div>
  <div class="assessment__tooltip">
    <ul class="assessment__tooltip-list">
      <li class="assessment__tooltip-list-item">
        <span class="assessment__tooltip-item assessment__tooltip-item_active"></span>
        <span class="assessment__tooltip-text">Active</span>
      </li>
      <li class="assessment__tooltip-list-item">
        <span class="assessment__tooltip-item assessment__tooltip-item_skip"></span>
        <span class="assessment__tooltip-text">Skipped</span>
      </li>
      <li class="assessment__tooltip-list-item">
        <span class="assessment__tooltip-item assessment__tooltip-item_review"></span>
        <span class="assessment__tooltip-text">Marked as review</span>
      </li>
      <li class="assessment__tooltip-list-item">
        <span class="assessment__tooltip-item assessment__tooltip-item_complete"></span>
        <span class="assessment__tooltip-text">Completed</span>
      </li>
      <li class="assessment__tooltip-list-item">
        <span class="assessment__tooltip-item assessment__tooltip-item_unattended"></span>
        <span class="assessment__tooltip-text">Unattended</span>
      </li>
    </ul>
  </div>
  <div class="assessment__header-wrapper">
    <p class="assessment__title">
      Question
      {{ data.questions ? data.questions.indexOf(activeQuestion) + 1 : "" }}
    </p>
    <div class="assessment__header_end">
    <app-timer (timesUp)="onTimeUp($event)"></app-timer>
    </div>
  </div>

  @if (activeQuestion) {
  <div class="assessment__question">
    <app-question [question]="activeQuestion" [previewImageUrls]="previewImageUrls"
      [imageLoading]="isImageLoadings[activeQuestion.id]" [hasImageError]="hasImageErrors[activeQuestion.id]"
      [placeholderImageUrl]="placeholderImageUrl">
    </app-question>
    <div class="assessment__divider"></div>
    @if (activeQuestion.isMultipleChoice === true) {
    <div class="assessment__options-container">
      @for (option of activeQuestion.options; track option.id) {
      <div class="assessment__option-card" [class.assessment__option-card--selected]="isOptionSelected(option.id)" (click)="toggleCheckbox(option.id, $event)">
        <div class="assessment__option-selector">
          <p-checkbox [inputId]="'checkbox_' + activeQuestion.id + '_' + option.id" [value]="option.id"
            [(ngModel)]="selectedValues[activeQuestion.id]" variant="filled"
            (checked)="(selectedValues[activeQuestion.id])"
            (onChange)="onCheckboxChange($event, activeQuestion.id)"></p-checkbox>
        </div>
        <div class="assessment__option-details">
          <label [for]="'checkbox_' + activeQuestion.id + '_' + option.id" class="assessment__option-label" (click)="$event.stopPropagation()">
            {{ option.optionText }}
          </label>
          
          @if (option.hasAttachments) {
            <div class="assessment__option-images-wrapper" (click)="$event.stopPropagation()">
              @if (isImageLoadings[option.id]) {
                <div class="assessment__previewImage-skeleton">
                  <app-image-skeleton></app-image-skeleton>
                </div>
              } @else if (previewImageUrls[option.id] && previewImageUrls[option.id].length) {
                @for (imgUrl of previewImageUrls[option.id]; track imgUrl) {
                  <div class="assessment__option-image-container">
                    <app-image width="120" height="90" [imageUrl]="imgUrl" [paddingTop]="'0'" [forceCancelRequest]="[]"
                      [isZoomable]="true" [removeIcon]="true">
                    </app-image>
                    <div class="assessment__option-image-overlay">
                      <i class="pi pi-search-plus"></i>
                    </div>
                  </div>
                }
              } @else if (hasImageErrors[option.id]) {
                <div class="assessment__option-image-container assessment__option-image-container--error">
                  <img [src]="placeholderImageUrl" alt="Error fetching attachment" />
                </div>
              }
            </div>
          }
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="assessment__options-container">
      @for (item of activeQuestion.options; track item.id) {
      <div class="assessment__option-card" [class.assessment__option-card--selected]="selectedValues[activeQuestion.id] === item.id" (click)="selectRadio(item.id)">
        <div class="assessment__option-selector">
          <p-radiobutton
            [inputId]="'option-' + item.id"
            [name]="'question_' + activeQuestion.id"
            [value]="item.id"
            [(ngModel)]="selectedValues[activeQuestion.id]"
            (ngModelChange)="onOptionSelect(activeQuestion.id, $event)"
            (click)="$event.stopPropagation()"
          >
          </p-radiobutton>
        </div>
        <div class="assessment__option-details">
          <label [for]="'option-' + item.id" class="assessment__option-label" (click)="$event.stopPropagation()">
            {{ item.optionText }}
          </label>
          
          @if (item.hasAttachments) {
            <div class="assessment__option-images-wrapper" (click)="$event.stopPropagation()">
              @if (isImageLoadings[item.id]) {
                <div class="assessment__previewImage-skeleton">
                  <app-image-skeleton></app-image-skeleton>
                </div>
              } @else if (previewImageUrls[item.id] && previewImageUrls[item.id].length) {
                @for (imgUrl of previewImageUrls[item.id]; track imgUrl) {
                  <div class="assessment__option-image-container">
                    <app-image width="120" height="90" [imageUrl]="imgUrl" [paddingTop]="'0'" [forceCancelRequest]="[]"
                      [isZoomable]="true" [removeIcon]="true">
                    </app-image>
                    <div class="assessment__option-image-overlay">
                      <i class="pi pi-search-plus"></i>
                    </div>
                  </div>
                }
              } @else if (hasImageErrors[item.id]) {
                <div class="assessment__option-image-container assessment__option-image-container--error">
                  <img [src]="placeholderImageUrl" alt="Error fetching attachment" />
                </div>
              }
            </div>
          }
        </div>
      </div>
      }
    </div>
    }
  </div>
  }
  <div class="assessment__actionButtons">
    <div class="assessment__actionButtons_review-skip-button">
      <app-button [buttonLabel]="'Mark as Review'" [buttonVariant]="'outlined'" [disabled]="isSaving"
        [isLoading]="isSaving" (btnClick)="onReviewBtnClick()"></app-button>
      <app-button [buttonLabel]="'Quit'" [buttonVariant]="'outlined'" [buttonSeverity]="'danger'" [disabled]="isSaving"
        [isLoading]="isSaving" (btnClick)="onQuitBtnClick()"></app-button>
      <app-button [buttonLabel]="'Skip'" [buttonVariant]="'outlined'" [disabled]="isSaving" [isLoading]="isSaving"
        (btnClick)="onSkipBtnClick()"></app-button>
    </div>

    <div class="save-button">
      @if (
      data.questions.indexOf(activeQuestion) + 1 === data.questions.length
      ) {
      <app-button [buttonLabel]="'Finish'" [disabled]="!isAnswerValid() || isSaving || isSubmitting"
        [isLoading]="isSaving || isSubmitting" (btnClick)="onFinishBtnClick()"></app-button>
      } @else {
      <app-button [buttonLabel]="'Save & Next'" [disabled]="!isAnswerValid() || isSaving"
        [isLoading]="isSaving" (btnClick)="onSaveBtnClick()"></app-button>
      }
    </div>
  </div>
  }
</div>