$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
  auto: auto
) !default;

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
    .#{$abbrev}t-#{$size}, .#{$abbrev}y-#{$size} { #{$prop}-top: $length !important; }
    .#{$abbrev}r-#{$size}, .#{$abbrev}x-#{$size} { #{$prop}-right: $length !important; }
    .#{$abbrev}b-#{$size}, .#{$abbrev}y-#{$size} { #{$prop}-bottom: $length !important; }
    .#{$abbrev}l-#{$size}, .#{$abbrev}x-#{$size} { #{$prop}-left: $length !important; }
  }
}
