<div class="field-checkbox">
  <p-radiobutton
    [inputId]="'option-' + option.id"
    [name]="option.optionText"
    [value]="option.id"
    [(ngModel)]="selectedValue"
    (ngModelChange)="onValueChange($event)"
  >
  </p-radiobutton>

  @if (option.optionText) {
    <label [for]="'option-' + option.id" class="ml-2">
      {{ option.optionText }}
    </label>
  } @else if (option.hasAttachments && option.url) {
    <img [src]="option.url" alt="option image" class="option-image" />
  }
</div>
