.field-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-block: 1%;
  padding-inline: 3%;

  p-radiobutton {
    padding-right: 10px;
    display: flex;
    align-items: center;
  }
  img {
    width: 120px;
    height: 90px;
    display: block;
    border-radius: 8px;
    border: 1px solid #ddd;
    object-fit: contain;
  }
}
