<div class="input-text" [formGroup]="formGroup">
  <ng-container>
    <p-iftalabel>
      <input
        id="conditional_label"
        type="text"
        pInputText
        [formControlName]="inputTextConfig.id"
        [maxlength]="inputTextConfig.maxlength ?? null"
        (input)="onInputChange($event)"
      />
      <label for="conditional_label">{{ inputTextConfig.labelKey }}@if (isRequired) {<span style="color: var(--color-danger); margin-left: 2px;">*</span>}</label>
    </p-iftalabel>
  </ng-container>

  @if (inputTextConfig.matSuffix) {
    <span class="input-suffix">{{ inputTextConfig.matSuffix }}</span>
  } @else if (inputTextConfig.matPrefix) {
    <span class="input-prefix">{{ inputTextConfig.matPrefix }}</span>
  }
  @if (formControl.touched && formControl.invalid) {
    <span class="input-text__validation-label"> {{ errorMsg }}</span>
  }
</div>
