.candidate {
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  &__form-field {
    flex-basis: 50%;
  }
  &__Cuatom-button {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-10);
  }
  &__section-header {
    margin-bottom: var(--spacing-10);
    padding: var(--spacing-10);
  }
  &__section-header-content {
    display: flex;
    flex-direction: column;
    // gap: var(--spacing-5);
  }
  &__section {
    background: linear-gradient(135deg, rgba(33, 150, 243, 0.08) 0%, rgba(21, 101, 192, 0.08) 100%);
    border-radius: var(--spacing-10);
    margin-top: var(--font-size-20);
    padding: var(--spacing-10);
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(33, 150, 243, 0.2);
    &:first-child {
      margin-top: 0;
    }
    &__title {
      margin: 0;
      font-size: clamp(14px, 1.8vw + 0.25rem, 16px);
      line-height: 1.4;
    }
    &__description {
      margin-top: var(--spacing-10);
      margin-bottom: var(--spacing-10);
      font-size: clamp(13px, 1.5vw + 0.25rem, 14px);
      line-height: 1.5;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__schedule-btn {
    margin-left: auto;
  }
}
