<div class="assessment-list">
  <div>
    <div class="assessment-list__header">
      <h1 class="assessment-list__title">Assessments</h1>
    </div>
    <div class="assessment-list__list">
      @for (assessment of assessmentDataSource; track assessment) {
        <app-assessment-card
          class="assessment-list__card"
          [data]="assessment"
          [showToggleButton]="false"
          (click)="onClickAssessment(assessment.id ?? 0)"
        ></app-assessment-card>
      } @empty {
        <app-assessment-card-skeleton
          class="assessment-list__card"
        ></app-assessment-card-skeleton>
      }
    </div>
  </div>
  <app-pagination [dataSource]="dataSource" [filterMap]="filterMap">
  </app-pagination>
</div>
