:host {
  width: 70%;
  @media (max-width: 768px) {
    width: unset;
  }
}
.login {
  text-align: center;
  &__title {
    color: #736d6d;
  }
  &__sub-title,
  &__title {
    margin-top: 0;
  }
  @media (max-width: 768px) {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 30px;
    &__title {
      color: #000;
    }
  }
}
