.frontdesk {
  &__button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
  &__field {
    flex-basis: var(--spacing-percentage-50);
    padding-bottom: var(--spacing-10);
  }
  &__section-header {
    margin-bottom: var(--spacing-10);
    padding: var(--spacing-10);
  }
  &__section-header-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
  }
  &__section {
    background: var(--color-white);
    border-radius: var(--spacing-10);
    margin-top: var(--spacing-20);
    overflow: hidden;
    padding: var(--spacing-10);
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--color-seperator);
    &__title {
      margin: 0;
      font-size: var(--font-size-16);
    }
    &__description {
      margin-top: var(--spacing-10);
      margin-bottom: var(--spacing-10);
      font-size: var(--font-size-base);
    }
    &:first-child {
      margin-top: 0;
    }
  }
}
