<div class="basic-information">
  <form [formGroup]="fGroup">
    <div class="basic-information__field-wrapper">
      <app-input-text
        [formGroup]="fGroup"
        [config]="configMap['name']"
      ></app-input-text
      ><app-input-text
        [formGroup]="fGroup"
        [config]="configMap['email']"
      ></app-input-text>
    </div>
    <div class="basic-information__field-wrapper">
      <app-input-text
        [formGroup]="fGroup"
        [config]="configMap['phone']"
      ></app-input-text>
      <app-input-text-calender
        [formGroup]="fGroup"
        [config]="configMap['dob']"
      ></app-input-text-calender>
    </div>
    <div class="basic-information__field-wrapper">
      <app-input-select
        class="basic-information__field-wrapper__select"
        [formGroup]="fGroup"
        [config]="configMap['gender']"
        [showClear]="false"
      ></app-input-select>
      <app-input-text-calender
        [formGroup]="fGroup"
        [config]="configMap['memberSince']"
      ></app-input-text-calender>
    </div>
    <div class="basic-information__btn">
      <app-button
        [buttonLabel]="'Edit Basic Details'"
        [icon]="'pi pi-pencil'"
        (btnClick)="onEdit()"
      ></app-button>
    </div>
  </form>
</div>
