.input-password {
  position: relative;
  margin-bottom: var(--spacing-30);
  .p-floatlabel-on:not(input.p-filled) label {
    font-weight: 300;
    font-size: var(--font-size-base);
  }
  ::ng-deep {
    .p-password,
    .p-inputtext {
      width: 100%;
    }
  }

  &__validation-label {
    position: absolute;
    left: 0;
    font-size: var(--font-size-small);
    margin-top: 2px;
    color: var(--p-form-field-invalid-placeholder-color);
    padding: 0 var(--spacing-10);
  }
}
