.input-password {
  position: relative;
  margin-bottom: var(--spacing-30);
  ::ng-deep {
    label,
    .p-password-toggle-icon,
    .p-password-icon,
    .pi-eye,
    .pi-eye-slash {
      user-select: none !important;
      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      -ms-user-select: none !important;
    }

    .p-password,
    .p-inputtext {
      width: 100%;
    }
  }
  .p-floatlabel-on:not(input.p-filled) label {
    font-weight: 300;
    font-size: var(--font-size-base);
  }

  &__validation-label {
    position: absolute;
    left: 0;
    font-size: var(--font-size-small);
    margin-top: 2px;
    color: var(--p-form-field-invalid-placeholder-color);
    padding: 0 var(--spacing-10);
  }
}
