<div class="input-password" [formGroup]="formGroup">
  <p-floatlabel variant="on"
    ><p-password
      [id]="inputTextConfig.id"
      [toggleMask]="true"
      [formControlName]="inputTextConfig.id"
      (input)="onInputChange($event)"
    /><label for="over_label">{{
      inputTextConfig.labelKey
    }}</label></p-floatlabel
  >
  @if (inputTextConfig.matSuffix) {
    <span class="input-suffix">{{ inputTextConfig.matPrefix }}</span>
  } @else if (inputTextConfig.matPrefix) {
    <span class="input-suffix">{{ inputTextConfig.matSuffix }}</span>
  } @else if (dynamicSuffix) {
    <span class="input-suffix">{{ dynamicSuffix }}</span>
  }
  @if (formControl.touched && formControl.invalid) {
    <span class="input-password__validation-label"> {{ errorMsg }}</span>
  }
</div>
