<div class="questions">
  <h1>Questions</h1>
  <!-- @if (!isLoading()) { -->
  <app-table
    [tableData]="data"
    [parentLoader]="isLoading"
    [columnsData]="columns"
    [hasSearch]="true"
    [hasCheckbox]="false"
    (delete)="deleteQuestion($event)"
    (pageChangeAndSort)="onTablePayloadChange($event)"
    (edit)="getByIdQuestion($event)"
    [previewImageUrls]="previewImageUrls"
    [isImageLoadings]="isImageLoadings"
  >
    <div class="questions__button">
      <app-button
        [buttonLabel]="'New'"
        icon="pi pi-plus"
        (btnClick)="openAddQuestionModal()"
      ></app-button>
    </div>
  </app-table>
  <p-toast position="top-right" class="Toast"></p-toast>
</div>
