<h1>
  <p>Candidate Name</p>
</h1>
<div class="interviewer-assessment">
  <p>Previous Interview Scores</p>
  <p>Previous Interviewer Comments</p>
  <div class="interviewer-assessment__inputs">
    <form>
      <h3>Programming Skill</h3>
      <div class="interviewer-assessment__skills">
        <div>
          <h4>Selection Criteria</h4>
          <p>demo 1</p>
          <p>demo 2</p>
          <p>demo 3</p>
          <p>demo 4</p>
          <p>demo 5</p>
        </div>
        <app-input-textarea [formGroup]="fGroup"></app-input-textarea>
        <p>Score</p>
      </div>

      <div>
        <h3>Communication Skill</h3>
        <h4>Selection Criteria</h4>
      </div>
      <app-input-textarea [formGroup]="fGroup"></app-input-textarea>
      <div>
        <h3>Listening Skill</h3>
        <h4>Selection Criteria</h4>
      </div>
      <app-input-textarea [formGroup]="fGroup"></app-input-textarea>
      <div>
        <h3>Positive Attitude</h3>
        <h4>Selection Criteria</h4>
      </div>
      <app-input-textarea [formGroup]="fGroup"></app-input-textarea>
    </form>
  </div>
</div>
