.Panel {
  &__row {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-15);
    padding-bottom: var(--spacing-10);
  }
  &__form-field {
    flex-basis: var(--spacing-percentage-50);
  }

  &__section-header {
    margin-bottom: var(--spacing-10);
    padding: var(--spacing-10);
    padding-bottom: var(--spacing-10);
  }
  &__section-header-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
  }
  &__action-button {
    justify-content: flex-start;
    width: fit-content;
    padding-top: var(--spacing-10);
  }
  &__section {
    background: var(--color-white);
    border-radius: var(--spacing-10);
    margin-top: var(--font-size-20);
    overflow: hidden;
    padding: var(--spacing-10);
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--color-seperator);
    &:first-child {
      margin-top: 0;
    }
    &__title {
      margin: 0;
      font-size: var(--font-size-16);
    }
    &__description {
      margin-top: var(--spacing-10);
      margin-bottom: var(--spacing-10);
      font-size: var(--font-size-base);
    }
    &__btn-grp {
      display: flex;
      justify-content: space-between;
    }
  }
  &__field {
    width: 100%;
    gap: var(--spacing-20);
    flex-direction: column;
    align-items: flex-start;
  }
  &__description {
    margin-top: var(--spacing-10);
    margin-bottom: var(--spacing-10);
  }
  @media  screen and (max-width: 768px) {
    &__row {
      flex-direction: column;
      gap: 0;
      margin-bottom: var(--spacing-10);
    }
    &__form-field {
      flex-basis: 100%;
      width: 100% !important;
    }

  }
}
