<div class="experience-dialog">
  <form [formGroup]="experienceForm" (ngSubmit)="onSubmit()" class="experience-dialog__form">
    <div class="experience-dialog__content">
      <div class="experience-dialog__field-wrapper">
        <app-input-text
          [formGroup]="experienceForm"
          [config]="roleConfig"
        ></app-input-text>
      </div>

      <div class="experience-dialog__field-wrapper">
        <app-input-text
          [formGroup]="experienceForm"
          [config]="companyConfig"
        ></app-input-text>
        @if (experienceForm.errors?.['duplicateExperience']) {
          <span class="experience-dialog__error">This experience already exists in your timeline.</span>
        }
      </div>

      <div class="experience-dialog__row">
        <div class="experience-dialog__field">
          <p-floatlabel variant="on">
            <p-datepicker 
              id="startDate" 
              formControlName="startDate" 
              [showIcon]="true" 
              dateFormat="M yy" 
              view="month" 
              [maxDate]="maxDate"
              appendTo="body"
              class="w-full"
              [ngClass]="{'ng-invalid ng-dirty': experienceForm.get('startDate')?.touched && experienceForm.get('startDate')?.invalid}"
            ></p-datepicker>
            <label for="startDate">Start Date</label>
          </p-floatlabel>
          @if (experienceForm.get('startDate')?.touched && experienceForm.get('startDate')?.errors) {
            <span class="experience-dialog__error">
              @if (experienceForm.get('startDate')?.errors?.['required']) { This field is required. }
              @else if (experienceForm.get('startDate')?.errors?.['futureDate']) { Date cannot be in the future. }
            </span>
          }
        </div>

        @if (!experienceForm.get('isCurrent')?.value) {
          <div class="experience-dialog__field">
            <p-floatlabel variant="on">
              <p-datepicker 
                id="endDate" 
                formControlName="endDate" 
                [showIcon]="true" 
                dateFormat="M yy" 
                view="month" 
                [maxDate]="maxDate"
                appendTo="body"
                class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': experienceForm.get('endDate')?.touched && experienceForm.get('endDate')?.invalid}"
              ></p-datepicker>
              <label for="endDate">End Date</label>
            </p-floatlabel>
            @if (experienceForm.get('endDate')?.touched && experienceForm.get('endDate')?.errors) {
              <span class="experience-dialog__error">
                @if (experienceForm.get('endDate')?.errors?.['required']) { This field is required. }
                @else if (experienceForm.get('endDate')?.errors?.['futureDate']) { Date cannot be in the future. }
                @else if (experienceForm.get('endDate')?.errors?.['endDateInvalid']) { End date cannot be before start date. }
              </span>
            }
          </div>
        }
      </div>

      @if (experienceForm.errors?.['duplicateDate']) {
        <span class="experience-dialog__error" style="position: static; display: block; margin-top: -15px;">
          An experience with this exact timeframe already exists.
        </span>
      }

      <div class="experience-dialog__field-checkbox">
        <p-checkbox formControlName="isCurrent" [binary]="true" inputId="isCurrent"></p-checkbox>
        <label for="isCurrent" class="ml-2">I am currently working in this role</label>
      </div>

      <div class="experience-dialog__field-wrapper">
        <app-input-textarea
          [formGroup]="experienceForm"
          [config]="descriptionConfig"
        ></app-input-textarea>
      </div>
    </div>

    <footer class="experience-dialog__footer">
      <button pButton type="button" label="Cancel" class="p-button-outlined" (click)="onCancel()"></button>
      <button 
        pButton 
        type="submit" 
        [label]="isEdit ? 'Save Changes' : 'Add Experience'" 
        [disabled]="isSaveDisabled"
      ></button>
    </footer>
  </form>
</div>
