.assessment-schedule {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__steps {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: 220px;
    flex-shrink: 0;
    &-item {
      background-color: var(--color-white);
      border-radius: 6px;
      margin-bottom: var(--spacing-15);
      border: 1px solid transparent;
      &.active,
      &:hover {
        background: var(--background-secondary);
        border: 1px solid var(--primary-color);
        transition: all ease-in-out 0.3s;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-btn {
      padding: var(--spacing-15);
      font-size: var(--font-size-base);
      background: transparent;
      border: none;
      cursor: pointer;
      text-align: left;
      width: 100%;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  &__assessmentround {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--p-toolbar-padding);
    background: var(--p-toolbar-background);
    border: 1px solid var(--p-toolbar-border-color);
    color: var(--p-toolbar-color);
    border-radius: var(--p-toolbar-border-radius);
    gap: var(--p-toolbar-gap);
    &__button {
      cursor: pointer;
      border: none;
      background: none;
      background-color: var(--primary-color);
    }
  }
  &__header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    padding: var(--p-toolbar-padding);
    border: 1px solid var(--p-toolbar-border-color);
    color: var(--p-toolbar-color);
    border-radius: var(--border-radius-20);
  }
  &__footer {
    margin-top: var(--spacing-10);
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
  &__assessment-item {
    flex: 1;
    padding: var(--spacing-15);
    border-radius: 6px;

    position: relative;
    flex-basis: var(--spacing-percentage-15);
    word-break: break-all;
    background: var(--color-white);
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__assessment-item h4 {
    margin: var(--spacing-2) 0;
    font-size: 13px;
    color: var(--primary-color);
    font-weight: 500;
    position: absolute;
    top: -15px;
    left: 0;
    background: var(--color-white);
    padding: 5px 10px;
    border-radius: 6px;
  }

  &__assessment-item p {
    margin: 0;
    font-size: var(--font-size-base);
    color: var(--color-black);
  }

  &__step-item {
    display: flex;
    align-items: center;
    background-color: #eef2f7;
    padding: var(--spacing-10) var(--spacing-15);
    border-radius: 6px;
    cursor: grab;
    white-space: nowrap;
    transition: transform 0.2s;
  }

  &__step-content {
    font-size: large;
    font-weight: bold;
  }

  &__button {
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
  }
  &__content {
    background-color: var(--color-white);
    border-radius: 6px;
    flex-grow: 2;
    padding: var(--spacing-10);
    height: fit-content;
    max-height: calc(100vh - 280px);
    overflow: auto;
    ::ng-deep {
      .p-datatable-table-container {
        max-height: calc(100vh - 343px);
        height: auto;
        max-width: calc(100vw - 525px);
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__content {
      max-height: calc(100vh - 465px);
    }
    &__wrapper {
      flex-direction: column;
    }
    &__assessment-item {
      flex-basis: 47%;
      margin-bottom: var(--spacing-10);
    }
    &__steps {
      display: flex;
      flex-basis: auto;
      overflow: auto;
      gap: 1rem;
      &-item {
        white-space: nowrap;
        margin-bottom: 0;
      }
    }
    ::ng-deep {
      .p-datatable-table-container {
        max-width: 100%;
      }
    }
  }
}
.p-steppanel {
  background: transparent;
  overflow: unset;
}
