.dashboard {
  width: 100%;
  height: 100%;
  &__body {
    display: flex;
    width: 100%;
    padding-top: 92px;
    height: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    background-color: #f8fafc;
    height: 100%;
    &__content {
      flex-grow: 1;
      padding: var(--spacing-20) var(--spacing-20);
      height: auto;
    }
  }
  @media (max-width: 1024px) {
    &__body {
      display: block;
      padding-top: 66px; // smaller header on mobile
      height: 100%;
    }
    .main {
      height: 100%;
      &__content {
        flex-grow: 1;
        // padding: var(--spacing-20);
        height: auto;
      }
    }
  }
}
