.dashboard {
  width: 100%;
  height: 100%;
  &__body {
    display: flex;
    width: 100%;
    padding-top: 92px;
    height: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    background-color: #f8fafc;
    height: 100%;
    &__content {
      flex-grow: 1;
      padding: var(--spacing-20) var(--spacing-20);
      height: auto;
      display: flex;
      flex-direction: column;

      &::after {
        // content: "";
        // display: block;
        // height: calc(var(--spacing-30) + env(safe-area-inset-bottom));
        // min-height: calc(var(--spacing-30) + env(safe-area-inset-bottom));
        // width: 100%;
        // pointer-events: none;
      }
    }
  }
  @media (max-width: 1024px) {
    &__body {
      display: flex;
      padding-top: 66px; // smaller header on mobile
      height: 100%;
      box-sizing: border-box;
    }
    .main {
      height: 100%;
      &__content {
        flex-grow: 1;
        padding: var(--spacing-15) var(--spacing-12);
        height: auto;
      }
    }
  }
}
