<div class="forgot-password">
  <h1 class="forgot-password__title">Reset Password</h1>
  <p class="forgot-password__sub-title">
    Enter your email, and we’ll send you a link to reset your password.
  </p>

  <form [formGroup]="resetFormGroup">
    <app-input-text
      [formGroup]="resetFormGroup"
      [type]="'text'"
      [config]="configMap['email']"
    ></app-input-text>

    <app-button
      [buttonLabel]="'Submit'"
      [buttonSize]="'large'"
      [buttonWidth]="'full'"
      [isLoading]="isLoading"
      (click)="onSubmit()"
    ></app-button>
  </form>

  <button class="forgot-password__back" (click)="backToLogin()">
    Back to Login
  </button>
  <p-toast position="top-right" class="Toast"></p-toast>
</div>
