<div class="login">
  <div *ngIf="!isEmailSent; else successView" class="login__form-container">
    <div class="login__header">
      <h1 class="login__title">Reset Password</h1>
      <p class="login__sub-title">
        Enter your email, and we’ll send you a link to reset your password.
      </p>
    </div>

    <form [formGroup]="resetFormGroup" class="login__form">
      <div class="login__form-group">
        <app-input-text
          [formGroup]="resetFormGroup"
          [type]="'text'"
          [config]="configMap['email']"
        ></app-input-text>
      </div>

      <app-button
        [buttonLabel]="'Submit'"
        [buttonSize]="'large'"
        [buttonWidth]="'full'"
        [isLoading]="isLoading"
        (click)="onSubmit()"
        class="login__submit-button"
      ></app-button>
    </form>

    <div class="login__form-actions">
      <button
        type="button"
        class="login__forgot-password"
        (click)="backToLogin()"
      >
        Back to Login
      </button>
    </div>
  </div>

  <ng-template #successView>
    <div class="login__header">
      <h1 class="login__title">Email Sent!</h1>
      <p class="login__sub-title">
        An email has been sent to you for resetting the password. Please check your inbox and follow the instructions.
      </p>
    </div>
  </ng-template>

  <!-- Mobile Feature Highlights Carousel -->
  <div class="login__mobile-features">
    <p-carousel
      [value]="slides"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="4000"
      [showIndicators]="true"
      [showNavigators]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-slide pTemplate="item">
        <div class="login__mobile-feature">
          <span class="login__mobile-feature-icon">{{ slide.icon }}</span>
          <div class="login__mobile-feature-content">
            <h3 class="login__mobile-feature-title">{{ slide.title }}</h3>
            <p class="login__mobile-feature-description">{{ slide.description }}</p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<div class="login-carousel">
  <p-carousel
    [value]="slides"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="5000"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="true"
    [showNavigators]="false"
  >
    <ng-template let-slide pTemplate="item">
      <div class="login-carousel__slide">
        <div class="login-carousel__icon">{{ slide.icon }}</div>
        <h2 class="login-carousel__title">{{ slide.title }}</h2>
        <p class="login-carousel__description">{{ slide.description }}</p>
      </div>
    </ng-template>
  </p-carousel>
</div>
